.container {
    position: fixed;  
    width: 100%;
    background-image: linear-gradient(to bottom right, #121C84, #8278DA);
    color: #FFFFFF; 
    padding: 0 1.5rem; /* Padding on the sides */
    display: flex;
    justify-content: space-between; /* Space between logo and right section */
    align-items: center; /* Center items vertically */
    z-index: 1000; /* Ensure it stays on top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0.5rem; /* Space between logo image and text */
}

.logo > img {
    width: 2.5rem; /* Size of the logo image */
    height: 2.5rem; /* Size of the logo image */
}

.logo > span {
    font-weight: 600;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between items in the right section */
}

.menu {
    display: flex;
    gap: 1rem; /* Space between menu items */
    font-weight: 500;
    list-style: none;
}

.menu > li {
    transition: all 0.2s ease;
}

.menu > li:hover {
    color: #4ed5cc;
    cursor: pointer;
    transform: scale(1.1); /* Slightly enlarges the item */
    text-shadow: 0 2px 10px rgba(254, 149, 111, 0.7); /* Subtle glow effect */
}

.search {
    max-width: 120px; /* Max width for responsiveness */
    height: 30px; /* Standard height for a search bar */
    border: 1px solid #e0e0e0; /* Lighter border */
    border-radius: 20px; 
    padding: 0 0.75rem; 
    outline: none;
    background-color: #fafafa; 
    color: #333;
    font-size: 0.9rem;
    transition: all 0.3s ease; /* Smooth transition */
}

.search::placeholder {
    color: #bbb; /* Softer grey placeholder text */
}

.search:focus {
    transform: scale(1.04); /* Slightly enlarges the input on focus */
}

.cart {
    width: 2rem; /* Size for visibility */
    height: 2rem; /* Size for visibility */
    cursor: pointer;
    padding-right: 3rem;
}

.login {
    background-color: rgb(117, 195, 195);
    border: none;
    color: white; /* White text */
    padding: 8px 10px; /* Padding for a balanced button */
    text-align: center;
    font-size: 13px; /* Font size for readability */
    border-radius: 18px; /* Slightly rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.login:hover {
    background-color: #5e7cc0; /* Lighter black shade on hover */
    transform: translateY(-2px);

}
